snippet main
    int main(int argc, char *argv[]) {
        ${0}
        return 0;
    }

snippet mainn
    int main() {
        ${0}
        return 0;
    }

snippet ndef
    #ifndef $1
    #define ${1:SYMBOL} ${2:value}
    #endif // ifndef $1

snippet def
    #define

snippet ifdef
    #ifdef ${1:FOO}
           ${2:#define}
    #endif
